<div
  class="container"
  style="
    text-align: center;
    margin: 2%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #f9f9f9;
  "
>
  <div style="margin-bottom: 20px">
    <div [ngClass]="{ 'edit-mode': edicion, 'register-mode': !edicion }"> <h1>{{ edicion ? 'Actualizar Conjunto' : 'Registrar Conjunto' }}</h1></div>
  </div>

  <div>
    <form
      [formGroup]="form"
      (submit)="insertar()"
      style="display: flex; flex-direction: column; gap: 15px"
    >
      <mat-form-field
        class="example-full-width"
        appearance="fill"
        *ngIf="edicion"
      >
        <mat-label>Codigo del Conjunto</mat-label>
        <input matInput formControlName="hid_Usuario" readonly />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <mat-select formControlName="hid_Usuario">
          @for (u of listaUsuarios; track u) {
          <mat-option [value]="u.id">{{ u.username }}</mat-option>
          }
        </mat-select>
      </mat-form-field>


      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nombre del Conjunto</mat-label>
        <input matInput formControlName="hnombre_Conjunto" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Codigo de la Galeria</mat-label>
        <mat-select formControlName="hid_Galeria">
          @for (u of listaGaleria; track u) {
          <mat-option [value]="u.idGaleria">{{ u.nombreGaleria}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Fecha de Creacion</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="hfecha_Creacion"
          placeholder="MM/DD/YYYY"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Fecha de Modificacion</mat-label>
        <input
          matInput
          [matDatepicker]="picker2"
          formControlName="hfecha_Modificacion"
          placeholder="MM/DD/YYYY"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <div style="text-align: center; margin-top: 20px">
        <button
          mat-flat-button
          color="primary"
          class="custom-button"
          style="
            padding: 10px 20px;
            background-color: #3f51b5;
            color: white;
            font-size: 16px;
          "
        >
          Editar
        </button>
      </div>
    </form>
  </div>
</div>
