<div class="container" style="text-align: center; margin: 2%; max-width: 600px; margin: 0 auto; padding: 20px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); border-radius: 10px; background-color: #f9f9f9;">

      <div style="margin-bottom: 20px;">
          <h1 style="font-size: 24px; color: #3f51b5;">Registro de Roles</h1>
      </div>
  
      <div>
          <form [formGroup]="form" (submit)="insertar()" style="display: flex; flex-direction: column; gap: 15px;">

            <mat-form-field class="example-full-width"  appearance="fill" *ngIf="edicion">
                  <mat-label>Código</mat-label>
                  <input matInput  formControlName="hid" readonly/>
              </mat-form-field>

              <mat-form-field appearance="fill">
                  <mat-label>Tipo de Usuario</mat-label>
                  <mat-select formControlName="hrol">
                      @for (m of listaRoles; track m) {
                          <mat-option [value]="m.value">{{ m.viewValue}}</mat-option>
                      }
                  </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                  <mat-label>Asignar a Usuario</mat-label>
                  <mat-select formControlName="huserid">
                      @for (m of userId; track m) {
                          <mat-option [value]="m.id">{{ m.username}}</mat-option>
                      }
                  </mat-select>
              </mat-form-field>

            
  
  
              <div style="text-align: center; margin-top: 20px;">
                  <button mat-flat-button color="primary" class="custom-button" style="padding: 10px 20px; background-color: #3f51b5; color: white; font-size: 16px;" >Editar</button>
              </div>
          </form>
      </div>
  </div>
  