.file-upload .btn-upload {
      background-color: #ec3b3b;
      color: white;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
    }
    .file-upload .btn-upload:hover {
      background-color: #ec5151;
    }
    