<div style="max-width: 800px; margin: 0 auto; padding: 20px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); border-radius: 8px; background-color: #f9f9f9;">
  <div [ngClass]="{ 'edit-mode': edition, 'register-mode': !edition }" style="text-align: center; margin: 2%;">
     <h1>{{ edition ? 'Actualizar Prendas' : 'Registrar Prendas' }}</h1>
    </div>
  <form [formGroup]="form" (submit)="insertar()" style="display: flex; flex-direction: column; gap: 15px;">

    <mat-form-field class="example-full-width" appearance="fill" *ngIf="edition">
      <mat-label>Código</mat-label>
      <input matInput placeholder="1" formControlName="hid" />
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Usuario</mat-label>
      <mat-select formControlName="hid_usuario">
        <mat-option *ngFor="let m of listaUsuarios" [value]="m.id">{{ m.username }}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nombre de la Prenda</mat-label>
      <input matInput placeholder="Camisa Amarilla con cuello azul." formControlName="hnombre_prenda" />
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Tipo de prenda</mat-label>
      <mat-select formControlName="htipo_prenda">
        <mat-option *ngFor="let m of listaPrendas" [value]="m.value">{{ m.viewValue }}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <div class="file-upload">
      <label for="fileInput" class="btn-upload">Subir Imagen</label>
      <input #fileInput type="file" (change)="onFileSelect($event)" id="fileInput" style="display: none;" />
    </div>
    <div *ngIf="fileName">
      <p>Archivo seleccionado: {{ fileName }}</p>
    </div>
    
  
    <mat-form-field appearance="fill">
      <mat-label>Fecha de Creación</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="hfecha_creacion" placeholder="MM/DD/YYYY" />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Fecha de Modificación</mat-label>
      <input matInput [matDatepicker]="picker2" formControlName="hfecha_modificacion" placeholder="MM/DD/YYYY" />
      <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  
    <div style="text-align: center; margin-top: 20px;">
      <button mat-flat-button color="primary" class="custom-button" style="padding: 10px 20px; background-color: #c72828; color: white; font-size: 16px;">Guardar</button>
    </div>
  </form>
</div>
  